.nav-bar {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  width: 100px;
}

.link-container {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.list-item {
  margin-left: 16px;
}

.icon {
  font-size: 28px;
  color: #f8fafc;
}

.lg-link-container {
  display: none;
}

.lg-logout-btn {
  display: none;
}

.link-item {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    padding: 20px 30px;
  }

  .link-container {
    display: none;
  }

  .lg-link-container {
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  .lg-logout-btn {
    display: block;
    background-color: #6366f1;
    padding: 8px 30px;
    font-family: 'Roboto';
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .lg-list-item {
    margin-left: 16px;
    font-family: 'Roboto';
    color: #fff;
    font-size: 20px;
  }
}
