.filters-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.filter-item {
  padding-bottom: 10px;
}

.salary-label {
  color: #fff;
}

.filter-container {
  border-top: 1px solid #b6c5ff;
  width: 100%;
}

.filter-heading {
  font-family: 'Roboto';
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  padding-top: 10px;
}

.filter-options-list {
  padding-left: 0;
}
